
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho disponible */
    background-color: #f2f2f2; /* Color de fondo para la barra de navegación */
    list-style: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding: 10px 0; /* Espacio interno arriba y abajo de la barra de navegación */
    margin: 0; /* Elimina el margen predeterminado */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.4); /* Sombra sutil */
    background-color: #a9d9d0;
}
.menu li{

    margin-top: 18px; /* Espacio entre elementos del menú */
    
}
.menu li a{
    padding: 10px 15px; /* Espacio interno de los enlaces */
    display: block;
    color: black;
    text-decoration: none;
    transition: background-color 0.4s ease; /* Transición suave para el color de fondo */
}

.menu li a:hover{
   background-color:white;
   display: flex;
}

.container{
    padding:100px;
    margin: 100px;
    text-align: center;
    
}
.container button{
    padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #808080; /* Gris */
  border: 2px solid black; /* Contorno negro */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}
.container button:hover{
    background-color: #555;
}
.texto{ 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    padding: 20px;
    color: white;
}

.popular_grid{
    display: grid;
    place-items: center; /* Centrar tanto horizontal como verticalmente */
    height: 100vh;
    margin-top: 30px;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.popular_card{
    border: 2px solid black; /* Borde negro */
    padding: 10px; /* Espacio alrededor del contenido */
    width: 300px; /* Ancho del contenedor */
}
.popular_card_header{
    text-align: center; /* Centra el contenido */
    margin-top: 10px; 
}
.popular_content{
    text-align: center;
    padding: 20px;
}

.conjunto_imagen img{

   height: 150px;
   width: 250px;
   display: flex;
   margin: 0 auto;
}
.popular_card button{
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Trans
    ición de color de fondo */
}
.popular_card button:hover{
    background-color: #808080;
    
}
